@tailwind base;
@tailwind components;
@tailwind utilities;

/* App.css */
.App {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: var(--background-color);
  overflow: hidden;
}

.waves-container {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.App.center-content {
  justify-content: center;
  background: var(--background);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  width: 100%;
  height: 100vh;
  padding: 20px;
  /*background-image: url(./images/abstract-geometric-shape-gradient-background-2.jpg);
  background-size: 100% 100%;*/
}

.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  width: 100%;
  height: 100vh;
  padding: 20px;
  align-self: center;
}

/* Media query for responsive design */
@media screen and (min-width: 40em) {
  .content:not(.landing-page) {
      right: 0;
      width: 100%;
  }
}

@media screen and (min-width: 48em) {
  .content:not(.landing-page) {
      right: 0;
      width: calc(100% - 120px);
  }
}

@media screen and (min-width: 64em) {
  .content:not(.landing-page) {
      right: 0;
      width: calc(100% - 250px);
  }
}