@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none !important;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: var(--background-color);
  overflow: hidden;
}

/* Add this to your App.css file or a separate CSS file */
.waves-container {
  position: absolute;
  width: 100%;
  bottom: 0px;
  transition: transform 0.6s ease-in-out;
}

.waves-container.animate {
  transform: translateY(-100%);
}

.landing-page.animate {
  transform: translateY(-95%);
}

.filler-block {
  display: none;
}

.filler-block.animate {
  display: block;
  position: absolute;
  width: 100%;
  height: 110vh;
  background-color: var(--background-color);
  z-index: 1;
  transition: transform 0.6s ease-in-out;
}

.App.center-content {
  justify-content: center;
  background: var(--background);
  overflow: hidden;
}

.App.flex-end-content {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
  right: 0;
  bottom: 0;
}


.App.auth-center {
  justify-content: center;
  align-items: center;
  background: var(--background-color);
}

.content {
  display: flex;
  align-self: flex-end;
  justify-content: flex-start;
  align-items: flex-start;
  right: 0;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  /*background-image: url(./images/abstract-geometric-shape-gradient-background-2.jpg);
  background-size: 100% 100%;*/
}

.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  width: 100%;
  height: 100vh;
  padding: 20px;
  align-self: center;
  transition: transform 0.6s ease-in-out;
}

/* Media query for responsive design */
@media screen and (min-width: 40em) {
  .content:not(.landing-page) {
      right: 0;
      bottom: 0;
      width: 100%;
      height: calc(100vh - 116px);
  }
}

@media screen and (min-width: 48em) {
  .content:not(.landing-page) {
      right: 0;
      bottom: 0;
      width: calc(100% - 150px);
      height: calc(100vh - 116px);
  }
}

@media screen and (min-width: 64em) {
  .content:not(.landing-page) {
      right: 0;
      bottom: 0;
      width: calc(100% - 300px);
      height: calc(100vh - 116px);
  }
}