.auth-body {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    width: 80vw;
    background-color: var(--background-color);
    box-shadow: .3rem .3rem .6rem var(--dark-shadow),-.2rem -.2rem .5rem var(--light-shadow);
}

.auth-tabs {
    background: var(--background-color);
    box-shadow: .3rem .3rem .6rem var(--dark-shadow),-.2rem -.2rem .5rem var(--light-shadow);
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
    height: 5rem;
}
.login-tab {
    margin: 1rem .5rem 1rem 1rem;
    width: 50%;
    color: var(--inverted-primary);
    background-color: var(--background-color);
    border: none;
    font-size: 1.4rem;
}
.login-tab.active {
    transition: all .5s ease;
    color: var(--primary) !important;
}
.login-tab:hover {
    transition: all .5s ease;
    color: var(--primary) !important;
}
.register-tab {
    margin: 1rem 1rem 1rem 0.5rem;
    width: 50%;
    color: var(--inverted-primary);
    background-color: var(--background-color);
    border: none;
    font-size: 1.4rem;
}
.register-tab.active {
    transition: all .5s ease;
    color: var(--primary) !important;
}
.register-tab:hover {
    transition: all .5s ease;
    color: var(--primary) !important;
}
.tabs-inner {
    position: absolute;
    height: 3rem;
    width: calc(50% - 1.5rem);
    margin: 1rem;
    border-radius: .8rem;
    box-shadow: inset .2rem .2rem .5rem var(--dark-shadow), inset -.2rem -.2rem .5rem var(--light-shadow);
    pointer-events: none;
}
.tabs-inner.login {
    transform: translateX(0);
    transition: all .5s ease;
    pointer-events: none;
}
.tabs-inner.register {
    transform: translateX(calc(100% + 1rem));
    transition: all .5s ease;
    pointer-events: none;
}

.form-container {
    width: 100%;
}
input {
    width: calc(100% - 2rem);
    height: 4rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.4rem;
    padding-left: 3.8rem;
    padding-right: 3.8rem;
    box-shadow: inset .2rem .2rem .5rem var(--dark-shadow), inset -.2rem -.2rem .5rem var(--light-shadow);
    background: none;
    color: var(--primary);
    margin-top: none !important;
}
input::placeholder {
    color: var(--inverted-primary);
}
input:focus {
    outline: none;
    box-shadow: .3rem .3rem .6rem var(--dark-shadow),-.2rem -.2rem .5rem var(--light-shadow);
}
label {
    position: relative;
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
    margin: 1rem 1rem 0 2rem;
    font-size: 1rem;
    color: var(--inverted-primary);
}
.error {
    color: red;
    margin: 0 1rem 0rem 2rem;
    height: 1rem;
}
#username-label {
    margin-top: none !important;
}
#email-label {
    margin-top: none !important;
}
#confirm-label {
    margin-top: none !important;
}
.login-form {
    position: relative;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    flex-direction: column;
}
.search {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.search .search-icon {
    position: absolute;
    left: 2rem;
    margin: .2rem .2rem 0 .2rem;
    width: 1.5rem;
    height: 1.5rem;
    color: var(--inverted-primary);
}
.search .show-password-button {
    position: absolute;
    margin: 0rem .2rem .2rem .2rem;
    cursor: pointer;
    width: fit-content !important;
    height: fit-content !important;
    outline: none;
    border: none;
    right: 2rem;
    padding: 0;
    font-size: 1.5rem;
    background-color: var(--background-color);
    z-index: 7;
}
.search .show-password-button .eye-button {
    position: relative !important;
    width: 1.5rem;
    height: 1.5rem;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}
input:focus + .search-icon {
    color: var(--primary);
}
.login-email {
    margin: 0 1rem 0rem 1rem;
    font-size: 1.4rem;
}
.login-email::placeholder {
}
.login-email:focus {

}
.login-password {
    margin: 0 1rem 0rem 1rem;
    font-size: 1.4rem;
}
.login-password::placeholder {
}
.login-password:focus {
}
.login-button {
    margin: 1rem;
    font-size: 1.4rem;
    justify-self: center;
    background: var(--primary);
    border: none;
    color: var(--background-color);
    cursor: pointer;
    border-radius: 1rem;
    padding: .5rem;
    box-shadow: inset -.2rem -.2rem .5rem -.2rem var(--accent-dark), inset .2rem .2rem .5rem 0rem var(--accent-light);
}
.login-button:hover {

}
.login-button:active {
    box-shadow: inset .2rem .2rem .5rem -.2rem var(--accent-dark), inset -.2rem -.2rem .5rem 0rem var(--accent-light);
}
.register-form {
    position: relative;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    flex-direction: column;
}
.register-name {
    margin: 0 1rem 0rem 1rem;
    font-size: 1.4rem;
}
.register-name::placeholder {
}
.register-name:focus {
}
.register-email {
    margin: 0 1rem 0rem 1rem;
    font-size: 1.4rem;
}
.register-email::placeholder {
}
.register-email:focus {
}
.register-password {
    margin: 0 1rem 0rem 1rem;
    font-size: 1.4rem;
}
.register-password::placeholder {
}
.register-password:focus {
}
.register-button {
    margin: 1rem;
    font-size: 1.4rem;
    justify-self: center;
    background: var(--primary);
    border: none;
    color: var(--background-color);
    cursor: pointer;
    border-radius: 1rem;
    padding: .5rem;
    box-shadow: inset -.2rem -.2rem .5rem -.2rem var(--accent-dark), inset .2rem .2rem .5rem 0rem var(--accent-light);
}
.register-button:hover {

}
.register-button:active {
    box-shadow: inset .2rem .2rem .5rem -.2rem var(--accent-dark), inset -.2rem -.2rem .5rem 0rem var(--accent-light);
}

.animation {
    width: 80rem;
    height: 1rem;
    animation: morph 5s infinite;
    animation-direction: alternate;
    position: fixed;
    top: -10rem;
    z-index: 0;
}

@keyframes morph {
    0%   { transform: scale(1) rotate(0deg); }
    25%   { transform: scale(0.98, 1.1) rotate(-2deg) ; }
    75%   { transform: scale(1.1, 0.98) rotate(2deg) ; }
    100% { transform: scale(1) rotate(0deg) ; }
}

.input-error {
    border: 1px solid red;
}

.input-normal {
    border: 1px solid transparent;
}

#tooltip
{
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-shadow: none;
    text-transform: none;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    font-size: 12px;
    width: 18rem;
    margin-bottom: 0 !important;
    
    display: inline-block;
}

#tooltip .tooltip-content {
    background-color: var(--primary);
    color: var(--background-color);
    border-radius: 1rem;
    padding: .5rem;
    margin-left: -2rem;
    margin-bottom: -151rem;
    box-shadow: .3rem .3rem .6rem -.2rem var(--dark-shadow),-.2rem -.2rem .5rem .1rem var(--light-shadow);
}

#tooltip p {
    margin: 0;
    margin-left: .5rem;
    padding: 0;
    width: fit-content;
}

#tooltip ul {
    margin: 0;
    margin-left: .5rem;
}

#tooltip.right
{
    margin-left: 2rem;
}

#tooltip .tooltip-arrow
{
    bottom: 0;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
}

#tooltip.right .tooltip-arrow
{
    bottom: -.2rem;
    left: -.5rem;
    margin-left: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: var(--primary);
}

#tooltip .tooltip-arrow
{
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-right-color: transparent;
    border-style: solid;
}

