.courses-container {
    overflow-y: scroll;
    height: 100%;
}

.course-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0rem 1rem 0rem 1rem;
}

.semester-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    margin: 1rem;
}
.semester-filters .active-tab {
    margin-right: .5rem;
    background: var(--accent-gradient);
    font-weight: bolder;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: inset .2rem .2rem .5rem 0rem var(--dark-shadow), inset -.2rem -.2rem .5rem 0rem var(--light-shadow);
}
.semester-filters .inactive-tab {
    margin-right: .5rem;
    background: none;
    color: var(--primary);
    box-shadow: .2rem .2rem .5rem 0rem var(--dark-shadow), -.2rem -.2rem .5rem 0rem var(--light-shadow);
    border: none;
}

/* Style for the course list */
.courses-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.single-course {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: .2rem .2rem .5rem var(--dark-shadow), -.2rem -.2rem .5rem var(--light-shadow);
    padding: 1rem;
    margin: 1rem 1rem;
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
    flex: 1 1 50rem stretch;
    cursor: var(--cursor);
    height: fit-content;
    transition: all 0.5s ease-in-out;
}

.single-course h3 {
    color: var(--accent-light)
}

.single-course h5 {
    color: var(--primary)
}

/* Style for buttons inside the course list */
.single-course button {
    background-color: var(--primary);
    border: none;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-right: 1rem;
    padding-left: 1rem;
    box-shadow: .25rem .25rem .15rem 0rem var(--dark-shadow), -.25rem -.25rem .15rem 0rem var(--light-shadow);
    color: var(--background-color);
    margin-right: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: .5rem;
}

/* Style for buttons on hover */
.single-course button:hover {
    box-shadow: inset .2rem .2rem .5rem -.2rem var(--accent-light), inset -.2rem -.2rem .5rem -.2rem var(--accent-dark);
}

.single-course button.delete-course {
    background-color: var(--remove-primary);
    border: none;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-right: 1rem;
    padding-left: 1rem;
    box-shadow: .25rem .25rem .15rem 0rem var(--dark-shadow), -.25rem -.25rem .15rem 0rem var(--light-shadow);
    color: var(--background-color);
    margin-right: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: .5rem;
}

/* Style for buttons on hover */
.single-course button.delete-course:hover {
    box-shadow: inset .2rem .2rem .5rem -.2rem var(--remove-dark), inset -.2rem -.2rem .5rem -.2rem var(--remove-light);
}

/* Style for the create button */
button.create-course {
    background-color: var(--add-primary); /* Green color */
    color: var(--background-color);
    padding: 0rem 1rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    margin: 0rem;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: .25rem .25rem .2rem -.1rem var(--dark-shadow), -.25rem -.25rem .2rem -.1rem var(--light-shadow);
}

button.create-course svg {
    width: 2rem;
    height: 2rem;
}


/* Style for the create button on hover */
button.create-course:hover {
    box-shadow: inset .2rem .2rem .5rem -.2rem var(--add-dark), inset -.2rem -.2rem .5rem -.2rem var(--add-light);
}

/* Style for the modal */
.custom-modal {
    /* Modal styles here */
    position: absolute;
    /* Add other styles as needed */
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Media query for responsive design */
@media screen and (max-width: 40em) {
    .custom-modal {
        right: 0;
        bottom: 20%;
        top: 30%;
        width: 100%;
        height: fit-content;
    }
}
@media screen and (min-width: 40em) {
    .custom-modal {
        right: 0;
        bottom: 20%;
        top: 30%;
        width: 100%;
        height: fit-content;
    }
}
@media screen and (min-width: 48em) {
    .custom-modal {
        right: 75px;
        bottom: 20%;
        top: 30%;
        width: calc(75% - 150px);
        height: fit-content;
    }
}
@media screen and (min-width: 64em) {
    .custom-modal {
        right: 150px;
        bottom: 20%;
        top: 30%;
        width: calc(75% - 300px);
        height: fit-content;
    }
}