.courses-container {
    overflow-y: scroll;
    height: 100%;
}

/* Style for the tabs 
.courses-tabs button {
    background: none;
    border: none;
    margin-right: .5rem;
    margin-bottom: 1rem;
    margin: .5rem 0rem .5rem 1rem;
    cursor: pointer;
    padding: .25rem .5rem;
    font-size: 1rem;
    border-radius: 1rem;
    transition: background-color 0.3s, color 0.3s;
    color: var(--primary);
    box-shadow: .2rem .2rem .5rem 0rem var(--dark-shadow), -.2rem -.2rem .5rem 0rem var(--light-shadow);
}

/* Style for the active tab 
.courses-tabs .active-tab {
    background: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: inset .2rem .2rem .5rem 0rem var(--dark-shadow), inset -.2rem -.2rem .5rem 0rem var(--light-shadow);
}

.semester-dropdown {
    margin: 1rem;
    padding: .5rem;
    font-size: 1rem;
    border-radius: 1rem;
    transition: background-color 0.3s, color 0.3s;
    color: var(--primary);
    box-shadow: .2rem .2rem .5rem 0rem var(--dark-shadow), -.2rem -.2rem .5rem 0rem var(--light-shadow);
    background: none;
    border: none;
}

.semester-dropdown label {
    margin-left: .5rem;
}

select#semester-select {
    background: none;
    border: none;
    margin-right: .5rem;
    margin-bottom: 1rem;
    margin: .5rem 0rem .5rem 1rem;
    cursor: pointer;
    padding: .25rem .5rem;
    font-size: 1rem;
    border-radius: 1rem;
    transition: background-color 0.3s, color 0.3s;
    color: var(--primary);
    box-shadow: .2rem .2rem .5rem 0rem var(--dark-shadow), -.2rem -.2rem .5rem 0rem var(--light-shadow);
}

select#semester-select .semester-option {
    background: var(--background-color);
    color: var(--text-color);
    border: none;
    border-radius: 1rem;
    padding: .5rem;
    margin: .5rem;
    box-shadow: .2rem .2rem .5rem 0rem var(--dark-shadow), -.2rem -.2rem .5rem 0rem var(--light-shadow);
    transition: background-color 0.3s, color 0.3s;
}

/* Style for dropdown on hover 
select#semester-select:hover {
    color: var(--text-color);
}

/* Style for dropdown when focused 
select#semester-select:focus {
    box-shadow: inset .2rem .2rem .5rem .2rem var(--dark-shadow), inset -.2rem -.2rem .5rem .2rem var(--light-shadow);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
} */

.course-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
}

.semester-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    margin: 1rem;
}
.semester-filters .active-tab {
    margin-right: .5rem;
    background: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: inset .2rem .2rem .5rem 0rem var(--dark-shadow), inset -.2rem -.2rem .5rem 0rem var(--light-shadow);
}
.semester-filters .inactive-tab {
    margin-right: .5rem;
    background: none;
    color: var(--primary);
    box-shadow: .2rem .2rem .5rem 0rem var(--dark-shadow), -.2rem -.2rem .5rem 0rem var(--light-shadow);
    border: none;
}

/* Style for the course list */
.courses-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.single-course {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: .2rem .2rem .5rem var(--dark-shadow), -.2rem -.2rem .5rem var(--light-shadow);
    padding: 1rem;
    margin: 1rem 1rem;
    border-radius: 5px;
    background-color: var(--background-color);
    display: flex;
    color: var(--text-color);
    flex: 1 1 50rem stretch;
}

.single-course h3 {
    color: var(--accent-light)
}

.single-course h5 {
    color: var(--primary)
}

/* Style for buttons inside the course list */
.single-course button {
    background-color: var(--primary);
    border: none;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-right: 1rem;
    padding-left: 1rem;
    box-shadow: .25rem .25rem .15rem 0rem var(--dark-shadow), -.25rem -.25rem .15rem 0rem var(--light-shadow);
    color: var(--background-color);
    margin-right: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: .5rem;
}

/* Style for buttons on hover */
.single-course button:hover {
    box-shadow: inset .2rem .2rem .5rem -.2rem var(--accent-light), inset -.2rem -.2rem .5rem -.2rem var(--accent-dark);
}

/* Style for the create button */
button.create-course {
    background-color: #28a745; /* Green color */
    color: #fff;
    padding: .5rem 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
    margin: .5rem 0rem .5rem 0rem;
    transition: background-color 0.3s, color 0.3s;
}

/* Style for the create button on hover */
button.create-course:hover {
    background-color: #218838; /* Darker green color on hover */
}

/* Style for the modal */
.custom-modal {
    /* Modal styles here */
    position: absolute;
    /* Add other styles as needed */
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Media query for responsive design */
@media screen and (max-width: 40em) {
    .custom-modal {
        right: 0;
        bottom: 116px;
        width: 100%;
        height: fit-content;
    }
}
@media screen and (min-width: 40em) {
    .custom-modal {
        right: 0;
        bottom: 116px;
        width: 100%;
        height: fit-content;
    }
}
@media screen and (min-width: 48em) {
    .custom-modal {
        right: 75px;
        bottom: 116px;
        width: calc(75% - 150px);
        height: fit-content;
    }
}
@media screen and (min-width: 64em) {
    .custom-modal {
        right: 150px;
        bottom: 116px;
        width: calc(75% - 300px);
        height: fit-content;
    }
}