.create-course-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background: var(--background);
    background-image: var(--background-image);
    border-radius: 1rem;
    padding: 1rem;
    transform: scale(.75);
}

.create-course-container h2 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--text-color);
}

.create-course-container form {
    background-color: var(--background-color);
    border-radius: 1rem;
    backdrop-filter: var(--background-blur);
    box-shadow: var(--background-outset);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    align-self: stretch;
}

.create-course-container form input {
    background-color: var(--background-color);
    color: var(--primary);
    margin: 0 .5rem 0 .5rem;
    font-size: 1rem;
    padding: .5rem;
    border-radius: 1rem;
    border: none;
    box-shadow: var(--background-outset);
}

.create-course-container form input:focus {
    outline: none;
    box-shadow: var(--background-inset);
}

.create-course-container form .create-course-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-self: stretch;
    margin: .5rem;
}

.create-course-container form .create-course-buttons button {
    flex-basis: 50%;
    flex-grow: 1;
    color: var(--background-color);
    font-size: 1rem;
    margin: .5rem 0 0 0;
    padding: .5rem;
    border-radius: 1rem;
    border: none;
    box-shadow: var(--add-outset);
    cursor: pointer;
}

.create-course-container form .create-course-buttons button:hover {
    box-shadow: var(--add-inset);
}

.create-course-buttons .Add-Course {
    background-color: var(--add-primary);
    margin-right: .5rem !important;
}
.create-course-container form .create-course-buttons .Add-Course:hover {
    box-shadow: var(--add-inset);
}

.create-course-buttons .Cancel-Add-Course {
    background-color: var(--remove-primary);
    margin-left: .5rem !important;
}
.create-course-container form .create-course-buttons .Cancel-Add-Course:hover {
    box-shadow: var(--remove-inset);
}

.create-course-container form label {
    color: var(--text-color);
    margin: .25rem 0 .15rem .75rem;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
}