.GraduationRequirement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/* It's supposed to look like a tree diagram */
.tree-container {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex-grow: 1;
}

.tree-button-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 1rem 0 1rem 0;
}

.refresh-button {
    margin: 0 0 0 0;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    box-shadow: 
        .25rem .25rem .15rem 0rem var(--dark-shadow), 
        -.25rem -.25rem .15rem 0rem var(--light-shadow);
    background-color: var(--add-primary);
    color: var(--background-color);
    cursor: pointer;
}

.help-icon {
    margin: auto 0 auto 1rem;
    border: none;
    color: var(--text-color);
    cursor: pointer;
}

.react-transform-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: stretch;
    justify-content: center;
    box-shadow:
        inset -.2rem -.2rem .5rem 0rem var(--light-shadow),
        inset .2rem .2rem .5rem 0rem var(--dark-shadow);
    border-radius: 1rem;
}
.react-transform-wrapper .react-transform-component {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.tree h3, .tree h4, .tree h5, .tree h6 {
    color: var(--text-color);
    font-size: 1rem !important;
    font-weight: 500;
    text-wrap: wrap !important;
}
.tree h6 {
    white-space: nowrap !important;
}
.tree .credit-hours {
    text-wrap: nowrap;
}

.custom-dropdown-container {
    position: relative;
    width: 100%;
    margin-left: 1rem;
}

.custom-dropdown-header {
    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow:
        -.2rem -.2rem .5rem 0rem var(--light-shadow),
        .2rem .2rem .5rem 0rem var(--dark-shadow);
    border-radius: 1rem;
    padding: .5rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.custom-dropdown-header.active {
    background-color: var(--background-color);
    box-shadow:
        inset -.2rem -.2rem .5rem 0rem var(--light-shadow),
        inset .2rem .2rem .5rem 0rem var(--dark-shadow);
    border-radius: 1rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    padding: .5rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.custom-dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    box-shadow:
        -.2rem -.2rem .5rem 0rem var(--light-shadow),
        .2rem .2rem .5rem 0rem var(--dark-shadow);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: none;
    z-index: 2;
}

.custom-dropdown-header.active + .custom-dropdown-options {
    display: block;
}

.none-option {
    height: 2.5rem;
}

.custom-dropdown-option {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 1rem;
    padding: .5rem;
    cursor: pointer;
    user-select: none; /* Prevent text selection */
    box-shadow:
        .2rem .2rem .2rem 0rem var(--dark-shadow);
}

.custom-dropdown-option:last-child {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.custom-dropdown-option:hover {
    box-shadow:
        inset -.2rem -.2rem .5rem 0rem var(--light-shadow),
        inset .2rem .2rem .5rem 0rem var(--dark-shadow);
}

.custom-dropdown-option:hover ~ .custom-dropdown-options  {
    box-shadow:
        inset -.2rem -.2rem .5rem 0rem var(--light-shadow),
        .2rem .2rem .2rem 0rem var(--dark-shadow);
}

.custom-dropdown-option:hover + .custom-dropdown-options {
    box-shadow: none;
}

.custom-dropdown-option.active {
    cursor: pointer;
    pointer-events: none;
    font-style: italic;
    font-weight: lighter;
}

.dropdown-icon {
    margin-left: 10px;
}

.node-form {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}
.node-form input {
    margin: .25rem .5rem .5rem .5rem;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    box-shadow: 
        -.2rem -.2rem .5rem 0rem var(--light-shadow), 
        .2rem .2rem .5rem 0rem var(--dark-shadow);
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    font-size: .75rem !important;
}
.node-form input:focus {
    outline: none;
    box-shadow: 
        inset -.2rem -.2rem .5rem 0rem var(--light-shadow), 
        inset .2rem .2rem .5rem 0rem var(--dark-shadow);
}
.node-form button {
    margin: .5rem;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    box-shadow: 
        .25rem .25rem .15rem 0rem var(--dark-shadow), 
        -.25rem -.25rem .15rem 0rem var(--light-shadow);
    background-color: var(--add-primary);
    color: var(--background-color);
    cursor: pointer;
    width: 100%;
}
.node-form button:active {
    box-shadow: 
        inset -.2rem -.2rem .5rem -.2rem var(--add-light), 
        inset .2rem .2rem .5rem -.2rem var(--add-dark);
}
.node-form button:hover {
    box-shadow: 
        inset -.2rem -.2rem .5rem -.2rem var(--add-light), 
        inset .2rem .2rem .5rem -.2rem var(--add-dark);
}
.node-form label {
    border-radius: .5rem;
    border: none;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: .75rem !important;
    align-self: start;
    text-wrap: nowrap;
}

.complete-node {
    border: 1px solid var(--add-primary) !important;
}

.toggle-completion-button.incomplete {
    margin: auto;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    box-shadow: 
        .25rem .25rem .15rem 0rem var(--dark-shadow), 
        -.25rem -.25rem .15rem 0rem var(--light-shadow);
    background-color: var(--add-primary);
    color: var(--background-color);
    cursor: pointer;
    width: 100%;
}
.toggle-completion-button.complete {
    margin: auto;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    box-shadow: 
        .25rem .25rem .15rem 0rem var(--dark-shadow), 
        -.25rem -.25rem .15rem 0rem var(--light-shadow);
    background-color: var(--remove-primary);
    color: var(--background-color);
    cursor: pointer;
    width: 100%;
}
.toggle-completion-button.incomplete:hover {
    box-shadow: 
        inset -.2rem -.2rem .5rem -.2rem var(--add-light), 
        inset .2rem .2rem .5rem -.2rem var(--add-dark);
}
.toggle-completion-button.incomplete:active {
    box-shadow: 
        inset -.2rem -.2rem .5rem -.2rem var(--add-light), 
        inset .2rem .2rem .5rem -.2rem var(--add-dark);
}
.toggle-completion-button.complete:hover {
    box-shadow: 
        inset -.2rem -.2rem .5rem -.2rem var(--remove-light), 
        inset .2rem .2rem .5rem -.2rem var(--remove-dark);
}
.toggle-completion-button.complete:active {
    box-shadow: 
        inset -.2rem -.2rem .5rem -.2rem var(--remove-light), 
        inset .2rem .2rem .5rem -.2rem var(--remove-dark);
}

.tree li.active-node > .tree-node-content {
    box-shadow:
        inset -.2rem -.2rem .5rem -.2rem var(--light-shadow),
        inset .2rem .2rem .5rem 0rem var(--dark-shadow);
}

.tree, .tree ul, .tree li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.tree {
    margin: 0 0 1rem;
    text-align: center;
}
.tree .tree-node-content {
    cursor: pointer !important;
}
.tree, .tree ul {
    display: table;
}
.tree ul {
    width: 100%;
}
    .tree li {
        display: table-cell;
        padding: .5rem;
        vertical-align: top;
    }
        /* _________ */
        .tree li:before {
            outline: solid 1px var(--primary);
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
        .tree li:first-child:before {left: 50%;}
        .tree li:last-child:before {right: 50%;}

        .tree .tree-node-content, .tree span, .tree .node-form {
            box-shadow: .3rem .3rem .6rem var(--dark-shadow),-.2rem -.2rem .5rem var(--light-shadow);
            border-radius: 1rem;
            display: inline-block;
            margin: 0 .2rem .5rem;
            padding: .5rem 1rem;
            position: relative;
            color: var(--text-color);
            background-color: var(--background-color);
        }
        /* If the tree represents DOM structure */
        .tree code {
            font-family: monaco, Consolas, 'Lucida Console', monospace;
        }

            /* | */
            .tree ul:before,
            .tree .tree-node-content:before,
            .tree span:before, 
            .tree .node-form:before{
                outline: solid 1px var(--primary);
                content: "";
                height: .45rem;
                left: 50%;
                position: absolute;
            }
            .tree ul:before {
                top: -.5rem;
            }
            .tree .tree-node-content:before,
            .tree span:before,
            .tree .node-form:before {
                top: -.5rem;
            }

/* The root node doesn't connect upwards */
.tree > li {margin-top: 0;}
    .tree > li:before,
    .tree > li:after,
    .tree > li > .tree-node-content:before,
    .tree > li > span:before,
    .tree > li > .node-form:before {
        outline: none;
    }