.navbar-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: var(--background-color);
    box-shadow: var(--background-outset);
    width: auto !important;
    padding: 20px;
    border-bottom-right-radius: 1rem;
    height: 114px;
    backdrop-filter: var(--background-blur);

}
/* Rounded exterior corner
.navbar-container::before {
    content: "";
    position: absolute;
    
    background-color: transparent !important;
    left: 0;
    bottom: -3rem;
    height: 3rem;
    width: 3rem;
    border-top-left-radius: 1rem;
    box-shadow: 0 -1rem 0 0 var(--background-color);
}
.navbar-container::after {
    content: "";
    position: absolute;
    
    background-color: transparent !important;
    left: 0;
    bottom: -1rem;
    height: 1rem;
    width: 1rem;
    border-top-left-radius: 1rem;
    box-shadow: inset .5rem .5rem .5rem -.7rem var(--background-dark-shadow) ;
}
*/
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    border-radius: 1rem;
    width: 100%;
    position: relative;
    z-index: 1;
    height: 4.75rem;
    align-self: flex-end;
}

.navbar-nav {
    display: flex;
    flex-direction: row !important;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

.navbar li {
    list-style: none;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar li a {
    background-color: var(--background-color);
    box-shadow: var(--background-outset);
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 1rem;
    padding: 1rem;
}

.navbar li a:hover {
    color: var(--primary);
    box-shadow: var(--background-outset);
}

.navbar li a.active {
    color: var(--accent);
    box-shadow: var(--selected-inset);
    background-color: var(--selected-color);
}

/* Media query for responsive design */
@media screen and (max-width: 40em) {
    .navbar-container {
        right: 0;
        bottom: 0;
        width: 100% !important;
        border-bottom-left-radius: 1rem;
        box-shadow: var(--header-outset);
    }
    .navbar-container::before {
        display: none;
    }
    .navbar-container::after {
        display: none;
    }
    .navbar li {
        padding-left: 1rem;
        padding-right: 0rem;
    }
}
@media screen and (min-width: 40em) {
    .navbar-container {
        right: 0;
        bottom: 0;
        width: 100% !important;
        border-bottom-left-radius: 1rem;
        box-shadow: var(--header-outset);
    }
    .navbar-container::before {
        display: none;
    }
    .navbar-container::after {
        display: none;
    }
    .navbar li {
        padding-left: 1rem;
        padding-right: 0rem;
    }
}

@media screen and (min-width: 48em) {
    .navbar-container {
        right: 0;
        bottom: 0;
        width: calc(100% - 150px) !important;
        border-bottom-left-radius: 0rem;
        box-shadow: var(--header-outset);
    }
    .navbar-container::before {
        display: block;
    }
    .navbar-container::after {
        display: block;
    }
    .navbar li {
        padding-left: 0rem;
        padding-right: 1rem;
    }
}

@media screen and (min-width: 64em) {
    .navbar-container {
        right: 0;
        bottom: 0;
        width: calc(100% - 300px) !important;
        border-bottom-left-radius: 0rem;
        box-shadow: var(--header-outset);
    }
    .navbar-container::before {
        display: block;
    }
    .navbar-container::after {
        display: block;
    }
    .navbar li {
        padding-left: 0rem;
        padding-right: 1rem;
    }
}