:root {
    --text-dark: #c4bebb;
    --text-light: #272929;
    --background1-dark: #272929;
    --background2-dark: #291f1c;
    --background3-dark: #2f2726;
    --background1-light: #c4bebb;
    --background2-light: #faebd7;
    --background3-light: #faebd7;
    --primary1: #e83e2a;
    --primary2: #ea6c37;
    --primary3: #f2a76e;
    --primary4: #f4d9b0;
    --secondary1: #132a52;
    --secondary2: #017597;
    --secondary3: #008e9c;
    --secondary4: #6eaba1;
    --accent1-light: #c4bebb;
    --accent1-dark: #272929;
    --accent2-light: #272929;
    --accent2-dark: #c4bebb;
    --accent3: #494786;
    --accent4: #9a2257;
    --accent5: #8e878d;
    --text-accent1: #d1dabf;
    --text-accent2: #b8c097;
    --text-accent3: #a0ad71;
    --text-accent4: #3f5a3f;
    --text-accent5: #1f381f;
}

/* Light Mode */
[data-theme="light"] {
    --text: var(--text-light);
    --background1: var(--background1-light);
    --background2: var(--background2-light);
    --background3: var(--background3-light);
    --accent1: var(--accent1-light);
    --accent2: var(--accent2-light);
}

/* Dark Mode */
[data-theme="dark"] {
    --text: var(--text-dark);
    --background1: var(--background1-dark);
    --background2: var(--background2-dark);
    --background3: var(--background3-dark);
    --accent1: var(--accent1-dark);
    --accent2: var(--accent2-dark);
}

@font-face {
    font-family: 'Press Start 2P';
    src: url('fonts/PressStart2P-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Overlay styles */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Adjust opacity as needed */
    z-index: 1000;
    display: none;
}


/* body */
.body {
    background-color: var(--background1);
}

/* scroll bar */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: var(--accent5);
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(
        to bottom,
        var(--primary1) 0%,
        var(--primary1) 20%,
        var(--primary2) 20%,
        var(--primary2) 30%,
        var(--primary3) 30%,
        var(--primary3) 40%,
        var(--primary4) 40%,
        var(--primary4) 50%,
        var(--secondary4) 50%,
        var(--secondary4) 60%,
        var(--secondary3) 60%,
        var(--secondary3) 70%,
        var(--secondary2) 70%,
        var(--secondary2) 80%,
        var(--secondary1) 80%,
        var(--secondary1) 100%
    );
}

/* navbar styling */
.navbarScroll {
    background-color: var(--accent1);
    transition: background .5s ease;
    border: 5px outset var(--background1);
}
.active-nav .nav-link {
    color: var(--accent4) !important;
}
.navbarScroll .navbar-brand {
    font-weight: bold;
    font-size: 2rem;
    color: var(--accent3);
    transition: background .5s ease, font-size .5s ease, font-weight .5s ease;
}
.navbarScroll .navbar-brand:hover {
    color: var(--accent3);
    font-weight: 1000;
}
.accent-lines-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-right:  10px;
}
.accent-lines {
    width: 100%;
    height: 4px;
    background: var(--accent4);
    transition: all .3s;
}
.accent-lines+.accent-lines {
    margin-top: 6px;
    background-color: var(--accent3);
}
.navbar-nav .nav-link {
    color: var(--accent3);
}
.navbarScroll .nav-link:hover {
    color: var(--accent4);
}
.navbar-nav .nav-link:hover {
    color: var(--accent4);
}
/* Toggle switch styles */
.navbar-nav .switch {
    position: relative;
    display: inline-block;
    margin-top: .7rem;
    margin-bottom: .5rem;
    width: 40px;
    height: 20px;
}
.switch input {
    display: none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--accent4);
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: var(--accent2);
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: var(--accent3);
}
input:checked + .slider:before {
    transform: translateX(20px);
}
/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: var(--accent5);
}
.navbarScroll .navbar-container {
    color: var(--accent1);
}
.navbarShrink .navbar-brand {
    font-size: 1.4rem;
}
.navbar-span {
    display: block;
    width: 20px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: .75px;
    height: 4px;
    background: var(--accent4);
    transition: all .3s;
    position: relative;
}
.navbar-toggler {
    align-items: left;
    padding: 0;
    margin: 0;
    transform: translate(-12.5px);
}
.navbar-span+.navbar-span {
    margin-top: 4px;
}
.active .navbar-span:nth-child(1) {
    animation: ease .7s top forwards;
}
.not-active .navbar-span:nth-child(1) {
    animation: ease .7s top-2 forwards;
}
.active .navbar-span:nth-child(2) {
    animation: ease .7s scaled forwards;
}
.not-active .navbar-span:nth-child(2) {
    animation: ease .7s scaled-2 forwards;
    background: var(--accent3);
}
.active .navbar-span:nth-child(3) {
    animation: ease .7s bottom forwards;
    background: var(--accent3);
}
.not-active .navbar-span:nth-child(3) {
    animation: ease .7s bottom-2 forwards;
}
.navbarNav.navbarDark {
    background-color: var(--accent5);
    border-radius: 5px;
    transform: translate(0, 3px);
    transition: all .3s ease;
}
@keyframes top {
    0% {
        top: 0;
        transform: rotate(0deg);
    }
    50% {
        top: 8px;
        transform: rotate(0deg);
    }
    100% {
        top: 8px;
        transform: rotate(45deg);
    }
}
@keyframes top-2 {
    0% {
        top: 8px;
        transform: rotate(45deg);
    }
    50% {
        top: 8px;
        transform: rotate(0deg);
    }
    100% {
        top: 0;
        transform: rotate(0deg);
    }
}
@keyframes bottom {
    0% {
        bottom: 0;
        transform: rotate(0deg);
    }
    50% {
        bottom: 8px;
        transform: rotate(0deg);
    }
    100% {
        bottom: 8px;
        transform: rotate(135deg);
    }
}
@keyframes bottom-2 {
    0% {
        bottom: 8px;
        transform: rotate(135deg);
    }
    50% {
        bottom: 8px;
        transform: rotate(0deg);
    }
    100% {
        bottom: 0;
        transform: rotate(0deg);
    }
}
@keyframes scaled {
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes scaled-2 {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

/* hero background image */
.bg-image {
    height: 100vh;
    background: url('images/circuit2.png');
    background-size: cover;
    position: relative;
    background-position: center center;
}
.bg-image::before {
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(216, 216, 216, 0.342);
    backdrop-filter: blur(3px);
    /*background-color: #1e20278e;*/
}
/* text css above hero image */
.hero_title {
    font-size: 6vw;
    font-weight: bold;
    font-family: 'Press Start 2P';
    background: linear-gradient(
        to bottom,
        var(--text-accent1) 0%,
        var(--text-accent1) 25%,
        var(--text-accent2) 25%,
        var(--text-accent2) 45%,
        var(--text-accent3) 45%,
        var(--text-accent3) 65%,
        var(--text-accent4) 65%,
        var(--text-accent4) 85%,
        var(--text-accent5) 85%,
        var(--text-accent5) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 3px var(--text-accent5);
    overflow: hidden;
    white-space: nowrap;
    animation: 
        typing 1.5s steps(9, end) forwards;
    width: 0;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
.hero_desc {
    font-size: 1.5vw;
    font-weight: bold;
    font-family: 'Press Start 2P';
    color: var(--text-accent5);
}
.hero-text {
    white-space: nowrap;
    overflow: hidden;
    padding: 4vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: var(--text-accent1);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5rem solid var(--text-light);
    border-radius: 20px;
    box-shadow: 
        inset 0.4em 0.4em 0.4em 0 rgb(92, 89, 89), 
        inset -0.4em -0.4em 0.4em 0 rgba(0,0,0, 1), 
        .4em .4em .4em 0 rgba(0, 0, 0, 1), 
        -.4em -.4em .4em 0 rgb(88, 88, 88); /* Inner bevel effect */
}
.hero-text::before {
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allows clicks to go through the overlay */
    background: 
        linear-gradient(to right, rgba(0, 0, 0, .1) 1px, rgba(112, 112, 112, 0.1) 1px),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 9px, rgba(112, 112, 112, 0.1) 10px);
    background-size: 10px 10px; /* Adjust grid size as needed */
    animation: none; /* Disable animations for the overlay */
}
/* Style the Enter Portfolio button */
.btn.btn-enter-portfolio:before {
    content: '+ PRESS TO START';
    font-size: 1.5vw;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    color: var(--text-accent5);
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    font-family: 'Press Start 2P';
    animation: flashing 1s linear infinite alternate; /* Animation properties */
}

@keyframes flashing {
    0% {
        opacity: 0; /* Hide the underline */
    }
    100% {
        opacity: 1; /* Show the underline */
    }
}
.btn.btn-enter-portfolio:hover:before {
    content: '> PRESS TO START';
    font-family: 'Press Start 2P';
    text-decoration: underline;
    animation: none; /* Disable the flashing animation */
}

/* about section image css */
.square-image-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    border-radius: 20px;
    border: var(--accent3) 8px solid;
}
.zoomed-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;    
    transform: scale(2) translate(-2%, 6%);
}
.about-name {
    font-weight: bold;
    font-size: 1.5rem;
}
.about-title {
    font-size: 1.1rem;
}

/* skills section css */
.card-body {
    background-color: var(--text-accent1);
    border-radius: 8px;

}
.skillsText.card {
    background-color: var(--text-accent1);
    color: var(--text);
    height: 280px;
    cursor: pointer;
    border-radius: 8px;
}
.card.skillsText {
    background-color: var(--text-accent1);
    color: var(--text-accent5);
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%; /* Make the cards take full height of the container */
    justify-content: space-between; /* Vertically align the content and progress bar */
    border: 2px solid transparent; /* Remove the default border */
    border-radius: 8px;
    transition: border-color 0.3s ease; /* Add a smooth transition effect for border color */
}
.skillsIcon {
    color: var(--text-accent3);
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
    font-family: 'Press Start 2P';
}
.card:hover .skillsIcon {
    color: var(--text-accent4);
}
.skillsText:hover {
    border: 2px solid var(--text-accent5);
}
.skills-desc {
    text-align: center;
}
.progress-bar-container {
    width: 92%;
    height: 8px;
    background-color: var(--text-accent1);
    position: relative;
    margin-top: 10 px;
    overflow: hidden;
    border-radius: 4px;
}
.progress-bar-container .progress-bar {
    width: 0;
    height: 100%;
    background-color: var(--text-accent5);
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.5s ease-in-out;
    border-radius: 4px;
}
.skillsText:hover .progress-bar-container {
    visibility: visible;
    opacity: 1;
}
.card {
    padding-bottom: 1rem;
}

/* Adjust the carousel styles */
#portfolioCarousel {
    margin-top: 3rem;
    position: relative;
    transition: transform 0.5s ease-in-out;
}
.header {
    font-weight: bolder;
    font-size: 3rem;
    font-family: 'Press Start 2P';
    padding-top: 2rem;
}
.header.portfolio, .header.contact-me {
    padding-top: 4rem;
}
.carousel-indicators {
    transform: translate(0, 2rem);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    margin-bottom: 20px;
    text-align: center;
}
.carousel-indicators li {
    background-color: var(--secondary1);
    border: none;
    width: 12px;
    height: 12px;
    margin: 0 8px;
    display: inline-block;
    transition: background-color 0.3s ease-in-out;
}
.carousel-indicators .active {
    background-color: var(--accent4);
    width: 14px;
    height: 14px;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    color: var(--accent4);
    font-size: 2rem;
}
.carousel-control-prev, .carousel-control-next {
    width: auto;
    color: var(--accent4);
}
/* Adjust the carousel item styles */
.carousel-inner {
    background-color: var(--background1);
    border-radius: 10px;
    padding: 2rem;
    transition: transform 0.5s ease-in-out;
}
.carousel-item {
    width: 50%;
    text-align: center;
    transition: transform 0.5s ease-in-out;
}
/* Adjust the portfolio card styles inside carousel items */
.portfolio-card {
    width: 50%;
    transform: translate(50%);
    background-color: var(--accent4);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.portfolio-card:hover {
    transform: translate(50%) scale(0.95);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
}
.portfolioContent {
    background-color: var(--accent4);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.portfolio-card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.portfolio-card-body {
    background-color: var(--accent4);
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.portfolio-card-title {
    font-size: 1.5rem;
    color: var(--accent);
    font-weight: bold;
}
.portfolio-card-text {
    font-size: 1rem;
    color: var(--text);
}
.portfolio-text {
    padding-top: 1rem;
    text-align: center;
    font-size: large;
}
.portfolio-button-container {
    text-align: center;
    margin-top: 20px;
}
.btn.portfolio-button {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, text 0.3s ease;
    background-color: var(--accent5);
    color: var(--text);
    border: none;
    transform: translate(0, 60%);
}
.btn.portfolio-button:hover {
    background-color: var(--accent3);
    color: var(--text);
    transform: translate(0, 60%) scale(0.95);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
}

/* modal styles */
.modal-dialog {
    max-width: none; /* Allow the modal to be wider for carousel */
    width: 80%; /* Adjust the width as needed */
    outline: none;
    border-radius: 10px;
    margin: 1.75rem auto;
}
.modal {
    border-radius: 10px;
    outline: none;
}
.modal-content {
    background-color: var(--background1);
    color: var(--text);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    outline: none;
}
.modal-header {
    background-color: var(--accent5);
    color: var(--text);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    outline: none;
}
.modal-title {
    font-size: 1.5rem;
}
.modal-header .close {
    background-color: var(--accent4);
    color: var(--text);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
.modal-header .close:hover {
    background-color: var(--accent3);
    color: var(--text);
    transform: scale(0.95);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
}
.modal-body {
    background-color: var(--background1);
    color: var(--text);
    padding: 20px;
    outline: none !important;
}
.modal-footer {
    background-color: var(--accent5) !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none !important;
}
.modal-footer .btn-secondary {
    margin: 0 auto;
    background-color: var(--accent4);
    color: var(--text);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
.modal-footer .btn-secondary:hover {
    background-color: var(--accent3);
    color: var(--text);
    transform: scale(0.95);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
}

/* contact section styles */
.contact-info {
    margin-bottom: 20px;
}
.contact-info-item {
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}
.contact-info-text {
    text-align: center;
}
.contact-link {
    text-decoration: none;
    color: var(--accent3);
    font-weight: normal;
}
.contact-link:hover {
    text-decoration: underline;
    color: var(--accent4);
}
#contact-button {
    color: var(--text);
    background-color: var(--accent4);
    border: var(--text);
}
#contact-button:hover {
    transform: scale(.95);
    background-color: var(--accent3);
}
#contact-form {
    margin: 0 auto;
    width: 80%;
    background-color: var(--accent5);
    color: var(--text);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
#contact-form .form-control {
    background-color: var(--text-accent1);
    border: 3px var(--text-accent5);
    color: var(--text-accent5);
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
    text-align: center;
}
.fa-github:hover {
    color: white;
}
.fa-instagram:hover {
    background: radial-gradient(
        circle at 30% 107%, 
        #fdf497 0%, 
        #fdf497 5%, 
        #fd5949 45%, 
        #d6249f 60%, 
        #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.fa-twitter:hover {
    color: #1DA1F2;
}
.fa-linkedin:hover {
    color: #0077B5
}
.fa-twitch:hover {
    color: #9146FF;
}
.fab {
    color: var(--accent4);
    transition: all 0.3s ease;
}

/* footer styling */
#footer {
    background-color: var(--accent5);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

/* coloring and spacing on all sections */
#about, #portfolio {
    background: linear-gradient(
        to bottom,
        var(--primary1) 0,
        var(--primary1) 25px,
        var(--primary2) 25px,
        var(--primary2) 37.5px,
        var(--primary3) 37.5px,
        var(--primary3) 50px,
        var(--primary4) 50px,
        var(--primary4) 62.5px,
        var(--secondary4) 62.5px,
        var(--secondary4) 75px,
        var(--secondary3) 75px,
        var(--secondary3) 87.5px,
        var(--secondary2) 87.5px,
        var(--secondary2) 100px,
        var(--secondary1) 100px,
        var(--secondary1) 125px,
        var(--background1) 125px,
        var(--background1) 100%
    );    
    color: var(--text);
    padding-top: 4rem;
    padding-bottom: 4rem;
}
/* coloring and spacing on all sections */
#skills, #contact {
    background: linear-gradient(
        to bottom,
        var(--secondary1) 0,
        var(--secondary1) 25px,
        var(--secondary2) 25px,
        var(--secondary2) 37.5px,
        var(--secondary3) 37.5px,
        var(--secondary3) 50px,
        var(--secondary4) 50px,
        var(--secondary4) 62.5px,
        var(--primary4) 62.5px,
        var(--primary4) 75px,
        var(--primary3) 75px,
        var(--primary3) 87.5px,
        var(--primary2) 87.5px,
        var(--primary2) 100px,
        var(--primary1) 100px,
        var(--primary1) 125px,
        var(--background1) 125px,
        var(--background1) 100%
    );    
    color: var(--text);
    padding-top: 4rem;
    padding-bottom: 4rem;
}
#contact {
    padding-bottom: 4rem;
}

/* back to top button */
.back-to-top {
    opacity: 60%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: var(--accent4);
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.back-to-top:hover {
    opacity: 100%;
}