.account-page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.account-page-container .account-info {
    color: var(--text-color);
} 

.account-info b {
    text-decoration: dashed underline var(--primary);
    font-style: italic;
}

.account-page-container button {
    background-color: var(--primary);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: var(--primary-outset);
}
.account-page-container .logout {
    background-color: var(--remove-primary);
    box-shadow: var(--remove-outset);
}
.account-page-container button:hover {
    box-shadow: var(--primary-inset);
}
.account-page-container .logout:hover {
    box-shadow: var(--remove-inset);
}