.calendar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

/* General calendar styles */
.react-calendar {
    border: none;
    font-size: 1rem;
    background-color: var(--background-color) !important;
    border-radius: 1.5rem;
    border: none !important;
    box-shadow: var(--background-outset) !important;
    padding: 1rem;
    width: 100% !important;
}

/* Custom styles for calendar navigation */
.react-calendar__navigation {
    background-color: var(--primary) !important;
    color: white;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}
.react-calendar__navigation button {
    background-color: transparent !important;
    color: white;
    border-radius: .5rem;
}
.react-calendar__navigation button:enabled:hover {
    background-color: var(--primary) !important;
    box-shadow: var(--primary-inset);
}

/* Custom styles for calendar tiles */
.react-calendar__tile {
    background-color: var(--background-color) !important;
    color: var(--text-color);
    margin: .5rem;
    font-weight: bolder;
}
.react-calendar__tile:last-child {
    border-radius: 0 0 .5rem 0;
}
.react-calendar__decade-view .react-calendar__tile:last-child,
.react-calendar__century-view .react-calendar__tile:last-child{
    border-radius: 0 0 0 .5rem;
}
.react-calendar__tile:first-child {
    border-radius: .5rem 0 0 0;
}
.react-calendar__month-view button:nth-child(7),
.react-calendar__year-view button:nth-child(3),
.react-calendar__decade-view button:nth-child(3),
.react-calendar__century-view button:nth-child(3) {
    border-radius: 0 .5rem 0 0;
}
.react-calendar__month-view button:nth-last-child(7),
.react-calendar__year-view button:nth-last-child(3) {
    border-radius: 0 0 0 .5rem;
}
.react-calendar__month-view__days__day--weekend {
    color: var(--remove-primary) !important;
}
.react-calendar__month-view__days__day--neighboringMonth {
    color: #888888 !important;
    font-weight: normal !important;
}

.event-task {
    background-color: var(--add-primary) !important;
}

.event-course {
    background-color: var(--remove-primary) !important;
}

.event-course.event-task {
    background-color: #04208f !important;
}

.react-calendar__tile:enabled:hover {
    box-shadow: var(--background-inset);
}

.react-calendar__tile--now {
    background-color: var(--primary) !important;
    color: var(--background-color) !important;
    box-shadow: var(--primary-inset) !important;
    border-radius: 5px !important;
}

.react-calendar__tile--active {
    box-shadow: var(--selected-inset);
    background-color: var(--selected-color) !important;
    border-radius: 5px;
}

.events-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    background-color: var(--background-color);
    margin-top: 1rem;
    border-radius: 1rem;
    box-shadow: var(--background-outset);
}
.events-list h3 {
    text-decoration: wavy underline var(--primary);
}
.events-list p {
    margin: 0 !important;
}

.current-time-line {
    position: absolute;
    left: .5rem; /* Add this */
    width: calc(100% - 1rem); /* Subtract the width of the time column */
    height: 1px;
    background-color: var(--primary);
    z-index: 1;
    pointer-events: none;
}
.current-time-line-label {
    left: 0;
    top: 0;
    width: 1.5rem;
    height: 1.5rem;
    font-size: .75rem;
    z-index: 2;
    pointer-events: none;
    transform: translateY(-17px);
    background-color: var(--background-colors);
    color: var(--primary);
}

.week-view {
    display: grid;
    grid-template-columns: 1fr repeat(7, 2fr);
    grid-template-rows: auto;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: var(--background-color);
    border-radius: 2rem;
    box-shadow: var(--background-outset);
    position: relative;
}

.week-view-header {
    display: contents;
}

.week-view-day-header {
    padding: 5px;
    text-align: center;
    background-color: var(--primary);
    color: var(--background-color);
    box-shadow: var(--primary-inset);
    height: 58px;
}
.week-view-day-header:first-child {
    background-color: transparent;
    box-shadow: none;
}
.week-view-day-header:nth-child(2) {
    border-radius: 1rem 0 0 0;
}
.week-view-day-header:last-child {
    border-radius: 0 1rem 0 0;
}

.week-view-body {
    display: contents;
}

.week-view-time-column {
    display: grid;
    grid-template-rows: repeat(24, 30px);
    text-align: right;
    padding-right: .25rem;
    transform: translateY(-7px);
    font-size: .5rem;
}

.week-view-day {
    display: grid;
    grid-template-rows: repeat(24, 30px);
}

.week-view-hour {
    position: relative;
    border: 1px dashed black;
}
.week-view-day:first-child .week-view-hour:last-child {
    border-radius: 0 0 0 1rem;
}
.week-view-day:last-child .week-view-hour:last-child {
    border-radius: 0 0 1rem 0;
}

.week-view-event {
    z-index: 1;
    position: absolute;
    background-color: rgba(0, 123, 255, 0.1);
    border-left: 4px solid #007bff;
    padding: 0.5rem;
    border-radius: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 3px);
}

.week-change-container {
    width: 100%;
    box-shadow: var(--background-outset);
    border-radius: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
    color: var(--background-color);
    background-color: var(--background-color);
}
.prev-week {
    background-color: var(--remove-primary);
    border: none !important;
    padding: .25rem 1rem;
    border-radius: 1rem 0 0 1rem;
    width: 20%;
}
.prev-week:hover {
    background-color: var(--remove-primary);
    box-shadow: var(--remove-inset);
}
.next-week {
    background-color: var(--add-primary);
    border: none !important;
    padding: .25rem 1rem;
    border-radius: 0 1rem 1rem 0;
    width: 20%;
}
.next-week:hover {
    background-color: var(--add-primary);
    box-shadow: var(--add-inset);
}
.change-to-month-view {
    background-color: var(--primary);
    border: none !important;
    padding: .25rem 1rem;
    width: 60%;
}
.change-to-month-view:hover {
    background-color: var(--primary);
    box-shadow: var(--primary-inset);
}

.view-switcher {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: var(--background-color);
    border-radius: 2rem;
    box-shadow: var(--background-outset);
}
.view-switcher button {
    background-color: var(--primary);
    color: var(--background-color);
    border: none;
    border-radius: 1rem;
    padding: .25rem 1rem;
    width: 100%;
}
.view-switcher button:hover {
    background-color: var(--primary);
    box-shadow: var(--primary-inset);
}