.GraduationRequirement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.degree-graph {
    width: 100%;
    height: 300px;
    border-radius: 1rem;
    box-shadow: var(--background-outset);
    color: var(--text-color);
    flex-grow: 1;
}

.tree-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.tree-button-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: .5rem 0 .5rem 0;
}

.tree-button-container.first .custom-dropdown-container {
    margin-left: 1rem;
}

.refresh-button {
    margin: 0 0 0 0;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    box-shadow: var(--add-outset);
    background-color: var(--add-primary);
    color: white;
    cursor: pointer;
}

.refresh-button:hover {
    box-shadow: var(--add-inset);
}

.help-icon {
    margin: auto 0 auto 1rem;
    border: none;
    color: var(--text-color);
    cursor: pointer;
}

.tree-container h3, .tree-container h4, .tree-container h5, .tree-container h6 {
    color: var(--text-color);
    font-size: 1rem !important;
    font-weight: 500;
    text-wrap: wrap !important;
}
.tree-container h6 {
    white-space: nowrap !important;
}
.credit-hours {
    text-wrap: nowrap;
}

.custom-dropdown-container {
    position: relative;
    width: 100%;
}

.custom-dropdown-header {
    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow: var(--background-outset);
    backdrop-filter: var(--background-blur);
    border-radius: 1rem;
    padding: .5rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.custom-dropdown-header.active {
    background-color: var(--selected-color);
    box-shadow: var(--selected-inset);
    border-radius: 1rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    padding: .5rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.custom-dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: var(--background-outset);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: none;
    z-index: 10;
}

.custom-dropdown-header.active + .custom-dropdown-options {
    display: block;
}

.none-option {
    height: 2.5rem;
}

.custom-dropdown-option {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 1rem;
    padding: .5rem;
    cursor: pointer;
    user-select: none; /* Prevent text selection */
    box-shadow:
        .2rem .2rem .2rem 0rem var(--background-dark);
}

.custom-dropdown-option:last-child {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.custom-dropdown-option:hover {
    box-shadow: var(--background-inset);
}

.custom-dropdown-option:hover ~ .custom-dropdown-options  {
    box-shadow:
        inset -.2rem -.2rem .5rem 0rem var(--background-light),
        .2rem .2rem .2rem 0rem var(--background-dark);
}

.custom-dropdown-option:hover + .custom-dropdown-options {
    box-shadow: none;
}

.custom-dropdown-option.active {
    cursor: pointer;
    pointer-events: none;
    font-style: italic;
    font-weight: lighter;
}

.dropdown-icon {
    margin-left: 10px;
}

.node-form {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    z-index: 5;
}
.node-form input {
    margin: .25rem .5rem .5rem .5rem;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    box-shadow: var(--background-outset);
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    font-size: .75rem !important;
}
.node-form input:focus {
    outline: none;
    background-color: var(--selected-color);
    box-shadow: var(--selected-inset);
}
.node-form button {
    margin: .5rem;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    box-shadow: var(--add-outset);
    background-color: var(--add-primary);
    color: var(--background-color);
    cursor: pointer;
    width: 100%;
}
.node-form button:active {
    box-shadow: var(--add-inset);
}
.node-form button:hover {
    box-shadow: var(--add-inset);
}
.node-form label {
    border-radius: .5rem;
    border: none;
    color: var(--text-color);
    font-size: .75rem !important;
    align-self: start;
    text-wrap: nowrap;
}

.complete-node {
    border: 1px solid var(--add-primary) !important;
}

.toggle-completion-button {
    margin-right: 1rem !important;
}
.toggle-completion-button.incomplete {
    margin: auto;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    box-shadow: var(--add-outset);
    background-color: var(--add-primary);
    color: var(--background-color);
    cursor: pointer;
}
.toggle-completion-button.complete {
    margin: auto;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    box-shadow: var(--remove-outset);
    background-color: var(--remove-primary);
    color: var(--background-color);
    cursor: pointer;
}
.toggle-completion-button.incomplete:hover {
    box-shadow: var(--add-inset);
}
.toggle-completion-button.incomplete:active {
    box-shadow: var(--add-inset);
}
.toggle-completion-button.complete:hover {
    box-shadow: var(--remove-inset);
}
.toggle-completion-button.complete:active {
    box-shadow: var(--remove-inset);
}

.tree-node-content {
    cursor: pointer !important;
}
.tree-node-content, .node-form {
    box-shadow: var(--background-outset);
    border-radius: 1rem;
    display: inline-block;
    padding: .5rem 1rem;
    position: relative;
    color: var(--text-color);
    background-color: var(--background-color);
}