.job-container {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: var(--background-outset);
}
.job-container input, .job-container select, .job-container textarea {
    background-color: var(--background-color);
    border: none !important;
    color: var(--text-color);
    border-radius: 0.5rem;
    box-shadow: var(--background-outset);
    margin: .5rem;
}
.job-container input:hover {
    box-shadow: var(--background-inset);
}
.job-container input:focus {
    background-color: var(--selected-color);
    box-shadow: var(--selected-inset);
}
.job-container button {
    color: var(--text-color);
    border: none !important;
    border-radius: 0.5rem;
    box-shadow: var(--background-outset);
    padding: .25rem 1rem;
    margin-top: .5rem;
}
.job-container button:nth-child(odd) {
    background-color: var(--add-primary);
    margin-right: 1rem;
}
.job-container button:nth-child(odd):hover {
    box-shadow: var(--add-inset);
}
.job-container button:nth-child(even) {
    background-color: var(--remove-primary);
}
.job-container button:nth-child(even):hover {
    box-shadow: var(--remove-inset);
}
.job-container button:focus {
    background-color: var(--selected-color);
    box-shadow: var(--selected-inset);
}

.job-list-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.job-list-buttons .create-job {
    background-color: var(--add-primary);
    color: var(--text-color);
    border: none !important;
    border-radius: 0.5rem;
    box-shadow: var(--background-outset);
    padding: .25rem 1rem;
    margin: 0;
}
.job-list-buttons .create-job:hover {
    box-shadow: var(--add-inset);
}
.job-list-buttons .create-job:focus {
    background-color: var(--selected-color);
    box-shadow: var(--selected-inset);
}

.job-top {
    display: flex;
    justify-content: space-between;
}

.job-status {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-start;
    margin: 0 !important;
}
.job-status b, .job-status i, .job-status select {
    padding: .25rem;
    border-radius: 0.5rem;
}
.job-status b {
    margin-right: 0.5rem;
    background-color: var(--text-color);
    color: var(--background-color);
}
.job-status b.Applied {
    background-color: var(--add-primary);
    color: var(--text-color);
}
.job-status b.InProgress {
    background-color: var(--primary);
    color: var(--text-color);
}
.job-status b.NotStarted {
    background-color: var(--remove-primary);
    color: var(--text-color);
}
.job-status i {
    margin-left: 0.5rem;
    background-color: var(--text-color);
    color: var(--background-color);
}
.job-status i.Declined, .job-status i.Rejected, .job-status i.Closed, .job-status i.Withdrawn {
    background-color: var(--remove-primary);
    color: var(--text-color);
}
.job-status i.Accepted, .job-status i.Hired, .job-status i.Offered {
    background-color: var(--add-primary);
    color: var(--text-color);
}
.job-status i.Pending, .job-status i.Interview {
    background-color: var(--primary);
    color: var(--text-color);
}

.job-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.job-header u {
    margin-right: 1rem;
    text-decoration: wavy underline var(--primary) !important;
}
.job-header i {
    margin-left: 1rem;
    color: var(--primary);
}
.job-header input {
    width: 40%;
}

.job-sub-header {
    margin: 0;
}

.job-body {
    margin-top: .25rem;
}
.job-body p {
    margin: 0;
}
.job-body ul {
    list-style-type: disclosure-closed;
    margin: 0;
}
.job-body .job-salary {
    font-weight: bold;
    text-decoration: wavy underline var(--add-primary);
}
.job-body .job-salary:hover {
    text-decoration: wavy underline var(--text-color);
    color: var(--add-primary);
}
.job-body .job-hours {
    color: var(--remove-primary);
}