/* Sidebar Container */
.sidebar {
    height: 100%;
    position: fixed;
    top: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: all 0.3s fade-in-out;
    position: absolute;
    z-index: 5;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 15px;
    box-shadow: var(--header-outset);
    backdrop-filter: var(--background-blur);
}
/* Toggle Button */
.toggle-button {
    display: none;
    background-color: transparent;
    border: none;
    color: var(--text-color);
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 2rem;
    right: 0;
    z-index: 6;
}
.toggle-button.open {
    color: var(--text-color); /* Change color to white when the sidebar is open */
}
/* Sidebar Header */
.sidebar-header {
    position: sticky;
    top: 0;
}
.sidebar-header a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 1rem 0;
    text-decoration: none;
    color: var(--text-color);
}
.sidebar-header svg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
    color: var(--primary);
}
.sidebar-header h3 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
/* Nav Links */
.inset-container {
    overflow: scroll;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: var(--background-inset);
}
.link-container {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}
.link-container a::after {
    content: "";
    flex-grow: 1; /* Fill unused space */
    border-radius: none;
}
.link-container a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    border-radius: 1rem;
}
.link-container a:hover {
    box-shadow: var(--background-outset);
}
.link-container a.active-link {
    border-top-right-radius: none;
    border-bottom-right-radius: none;
    color: var(--accent-gradient);
    background-color: var(--selected-color);
}
.link-container a.active-link p {
    background: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.link-container a.active-link .vl {
    margin: auto;    
    background: var(--accent-gradient);
    width: 6px;
    height: 90%;
    border-radius: 1rem;
}
.link-container svg {
    margin: 10px;
    width: 20px;
    height: 20px;
    color: var(--primary);
}
.link-container p {
    display: none;
    margin: 0;
    padding: 0;
    font-weight: 500;
    width: fit-content;
    font-size: 1.5rem;
    color: var(--text-color);
}
.link-container a:hover+p {
    color: var(--primary);
}
.sidebar hr {
    width: 90%;
    align-self: center;
    color: var(--text-color);
}
/* Account */
.account-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    position: sticky;
    bottom: 0;
}
.account-container a {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}
.account-container .button {
    justify-self: stretch;
    background: var(--primary);
    border: none;
    color: var(--background-color);
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 1rem;
    padding: .5rem;
    margin: 1rem;
    box-shadow: var(--primary-outset);
}
.account-container .button:hover {
    box-shadow: var(--primary-inset);
}
.account-container .button:active {
    box-shadow: var(--primary-inset);
}
.account-container a svg {
    width: 30px;
    height: 30px;
    margin: 10px;
    color: var(--background-color);
}
.account-container a p {
    margin: 0;
    padding: 0;
    width: fit-content;
    font-size: 1.5rem;
    color: var(--background-color);
}
.account-container .button.active-link {
    box-shadow: var(--primary-inset);
}

/* Media query for responsive design: Smallest */
@media screen and (min-width: 0em) {
    .toggle-button {
        display: grid;
        z-index: 7;
    }
    .sidebar {
        left: -100%;
        width: 100%;
        z-index: 6;
    }
    .sidebar.open {
        left: 0;
    }
    .link-container {
        font-size: 2rem;
        margin: 1rem 1rem .5rem 1rem;
    }
    .link-container p {
        display: flex;
        font-size: 1.5rem;
    }
    .link-container a.active-link {
        width: 100%;
        box-shadow: var(--selected-outset);
    }
    .link-container a.active-link .vl {
        margin: auto;    
        background: var(--accent-gradient);
        width: 6px;
        height: 80%;
        border-radius: 1rem;
        margin-left: .5rem;
    }
}
/* Media query for responsive design: Phone */
@media screen and (min-width: 40em) {
    .toggle-button {
        display: grid;
        z-index: 7;
    }
    .sidebar {
        left: -100%;
        width: 100%;
        z-index: 6;
    }
    .sidebar.open {
        left: 0;
    }
    .link-container {
        font-size: 2rem;
        margin: 1rem 1rem .5rem 1rem;
    }
    .link-container svg {
        width: 30px;
        height: 30px;
    }
    .link-container p {
        display: flex;
        font-size: 2rem;
    }
    .link-container a.active-link {
        width: 100%;
        border-radius: 1rem;
        box-shadow: var(--selected-outset);
    }
    .link-container a.active-link .vl {
        margin: auto;    
        background: var(--accent-gradient);
        width: 6px;
        height: 85%;
        border-radius: 1rem;
        margin-left: 1rem;
    }
}
/* Media query for responsive design: Tablet */
@media screen and (min-width: 48em) {
    .toggle-button {
        display: none;
    }
    .sidebar {
        left: 0;
        width: 150px;
        z-index: 5;
    }
    .link-container {
        font-size: 2rem;
        margin: 1rem auto .5rem auto;
    }
    .link-container svg {
        width: 30px;
        height: 30px;
        margin: none !important;
    }
    .link-container p {
        display: none;
    }
    .link-container a {
        /*border: .5 solid transparent*/
        padding: .5rem;
    }
    .link-container a.active-link {
        width: 185%;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        box-shadow: var(--selected-outset);
    }
    .link-container a.active-link .vl {
        margin: auto;    
        background: var(--accent-gradient);
        width: 6px;
        height: 90%;
        border-radius: 1rem;
    }
    .sidebar-header svg {
        width: 50px;
        height: 50px;
        margin: auto;
    }
    .sidebar-header h3 {
        display: none;
    }
    .account-container a svg {
        width: 2.5rem;
        height: 2.5rem;
        margin: 2rem;
    }
    .account-container a p {
        display: none;
    }
}
/* Media query for responsive design: Computer and Laptops */
@media screen and (min-width: 64em) {
    .toggle-button {
        display: none;
    }
    .sidebar {
        left: 0;
        width: 300px;
        z-index: 5;
    }
    .sidebar.open ul {
        display: grid;
    }
    .link-container {
        font-size: 1.5rem;
        margin: 1rem 2rem 0rem 2rem;
    }
    .link-container p {
        font-size: 1.25rem;
        display: block;
        margin-top: .3rem;
    }
    .link-container svg {
        width: 20px;
        height: 20px;
    }
    .link-container a {
        /*border: 1rem solid transparent;*/
        padding: 1rem;
    }
    .link-container a.active-link {
        width: 135%;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        box-shadow: var(--selected-outset);
    }
    .link-container a.active-link .vl {
        margin: auto;    
        background: var(--accent-gradient);
        width: 6px;
        height: 90%;
        border-radius: 1rem;
    }
    .sidebar-header svg {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: none;
        margin-right: 1rem;
    }
    .sidebar-header h3 {
        font-size: 2rem;
        font-weight: 700;
        margin: 0;
        margin-right: auto;
        padding: 0;
        display: flex;
    }
    .account-container a svg {
        width: 2.5rem;
        height: 2.5rem;
        margin: 1rem;
    }
    
    .account-container a p {
        display: block;
        margin: 1rem;
        padding: 0;
        font-size: 2.5rem;
    }
}