<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Login - MYCreationz </title>
</head>
<body data-theme class="login-body">
    <div class="login-box">
        <h2>Login</h2>
        <form class="login-form">
            <div class="user-box">
                <input type="text" placeholder="Username" required>
                <label class="login-label">Username</label>
            </div>
            <div class="user-box">
                <input type="password" placeholder="Password" required>
                <label class="login-label">Password</label>
            </div>
            <div id="forgot">
                <label class="switch-container">
                    <input type="checkbox" id="remember-me">
                    <span class="checkmark"></span>
                    Remember me
                </label>
                <div class="forgot-info">
                    <a href="#">Forgot Info?</a>
                </div>
            </div>
            <div class="button-form">
                <button class="submit">Login</button>
                <div id="register-link">
                    Don't have an account ? 
                    <a href="signup.html">Register</a>
                </div>
            </div>    
        </form>
        <div class="login-toggle-container">
            <label class="switch">
                <input type="checkbox" id="theme-toggle">
                <span class="slider round"></span>
            </label>
        </div>
    </div>


    <!-- Scripts -->
    <script src="../public/scripts.js"></script>
</body>
</html>
